<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Reversing_Link_List/src/reverse_link_list/ReverseLinkList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="reverse_link_list.ReverseLinkList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Reversing_Link_List"/>
</launchConfiguration>
